<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta') %>
<body class="d-flex flex-column min-vh-100">
<%- include('partials/header') %>
    <h1>Hello Express!</h1>
    <img src="images/image1.jpg" alt="">
 <%- include('partials/footer') %>
</body>
</html>